h1 {
  font-weight: 100;
}

h2 {
  font-size: 20px;
  margin-bottom: 30px;
}

span.navbar-brand.md-0 {
  font-size: 22px;
  color: #000;
  
  .header-text {
    text-decoration: none;
  }
}

.text-dark {
  color: #000;
}

.top-hero-wrapper {
  text-align: center;
  display: inline-block;
}
  .container {
    padding: 0px;
  }

.top-hero-container {
  padding-top: 250px;
  display: inline-block;
  
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }
  
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .row2 {
    padding-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  
  ul {
    list-style: none;
    margin-right: 5px;
    color: #ff7d6e;
    background: #ffebe9;
    border: solid 2px #F00;
    padding: 20px;
  }
  
  li {
    color: #F00;
  }
  
  .users-new-container {
    padding-top: 170px;
    
    .form-group {
      margin-bottom: 20px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color: #C0C0C0;
  a {
    color: #fff !important;
  }
}

.btn-info {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 25px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
  
  &:hover {
    color: #565656;
  }
}

.expense-new-wrapper {
  padding-top: 130px;
  
  ul {
    list-style: none;
    margin-right: 5px;
    color: #ff7d6e;
    background: #ffebe9;
    border: solid 2px #F00;
    padding: 20px;
  }
  
  li {
    color: #F00;
  }
}

.expense-index-wrapper {
  padding-top: 100px;
  background-color: #fff;
  
  nav {
    text-align: center;
  }
  
  img {
    height: 25px;
  }
  
  p1 {
    color: #008000;
  }
  
  p2 {
    color: #ff0000;
  }
  
  p3 {
    font-size: 20px;
    
  }
  
  .form-group {
    margin-bottom: 20px;
  }
}

.expense-detail-wrapper {
  padding-top: 100px;
  background-color: #fff;
  
  h1 {
    margin-bottom: 50px;
  }
  
  img {
    height: 25px;
  }
  
  p1 {
    color: #008000;
  }
  
  p2 {
    color: #ff0000;
  }
  
  .table {
    margin-bottom: 150px;
  }
  
  .user {
    width: 35%;
    float: left;
  }
  
  .approval {
    width: 15%;
    float: right;
  }
  
  .approval2 {
    width: 25%;
    float: right;
  }
}

td, th {
  text-align: center;
}

.expense-edit-wrapper {
  padding-top: 130px;
  
  ul {
    list-style: none;
    margin-right: 5px;
    color: #ff7d6e;
    background: #ffebe9;
    border: solid 2px #F00;
    padding: 20px;
  }
  
  li {
    color: #F00;
  }
}

.admin-expense-index-wrapper {
  padding-top: 70px;
  background-color: #fff;
  text-align: center;
  
  img {
    height: 25px;
  }
  
  p1 {
    color: #008000;
  }
  
  p2 {
    color: #ff0000;
  }
  
  .form-group {
    margin-bottom: 10px;
    text-align: left;
  }
}

.user-index-wrapper {
  padding-top: 70px;
  background-color: #fff;
}

.users-edit-wrapper {
  
  ul {
    list-style: none;
    margin-right: 5px;
    color: #ff7d6e;
    background: #ffebe9;
    border: solid 2px #F00;
    padding: 20px;
  }
  
  li {
    color: #F00;
  }
  
  .container {
    padding-top: 200px;
    
    .form-group {
      margin-bottom: 20px;
    }
  }
}

.category-index-wrapper {
  padding-top: 180px;
  background-color: #fff;
  text-align: center;
}

.category-new-wrapper {
  
  ul {
    list-style: none;
    margin-right: 5px;
    color: #ff7d6e;
    background: #ffebe9;
    border: solid 2px #F00;
    padding: 20px;
  }
  
  li {
    color: #F00;
  }
  
  .category-new-container {
    padding-top: 230px;
    
    .form-group {
      margin-bottom: 20px;
    }
  }
}

.category-show-wrapper {
  padding-top: 180px;
  background-color: #fff;
}

.category-edit-wrapper {
  
  ul {
    list-style: none;
    margin-right: 5px;
    color: #ff7d6e;
    background: #ffebe9;
    border: solid 2px #F00;
    padding: 20px;
  }
  
  li {
    color: #F00;
  }
  
  .category-edit-container {
    padding-top: 230px;
    
    .form-group {
      margin-bottom: 20px;
    }
  }
}
.admin-users-index-wrapper {
  
  nav {
    text-align: center;
  }
  
  .admin-users-index-container {
    padding-top: 150px;
    
    .row {
      text-align: center;
    }
    
    .form-group {
      margin-bottom: 20px;
      text-align: left;
    }
  }
}

.btn-primary {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  font-size: 15px;
}

.btn-secondary {
  padding: 15px 60px;
  margin-bottom: 20px;
  font-size: 15px;
}

.radio-plain {
  width: 22px;
  height: 20px;
  top: 4px;
  position: relative;
  margin-top: 20px;
}

.states-label1 {
  margin-top: 17px;
  color: #008000;
  font-weight: normal;
}

.states-label2 {
  margin-top: 17px;
  color: #ff0000;
  font-weight: normal;
}

.btn-secondary2 {
  padding: 15px 60px;
  font-size: 15px;
  margin-top: 17px;
}