h1 {
  font-weight: 100;
}

h2 {
  font-size: 20px;
}

.text-dark {
  color: #000;
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  
  .users-new-container {
    padding-top: 220px;
    
    .form-group {
      margin-bottom: 20px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color: #C0C0C0;
  a {
    color: #fff !important;
  }
}

.btn-info {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
  
  &:hover {
    color: #565656;
  }
}

.expense-new-wrapper {
  padding-top: 200px;
}

.expense-index-wrapper {
  padding-top: 70px;
  background-color: #fff;
  
  img {
    height: 20px;
  }
  
  p1 {
    color: #008000;
  }
  
  p2 {
    color: #ff0000;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
}

.expense-detail-wrapper {
  padding-top: 70px;
  background-color: #fff;
  
  img {
    height: 20px;
  }
  
  p1 {
    color: #008000;
  }
  
  p2 {
    color: #ff0000;
  }
}

.expense-edit-wrapper {
  padding-top: 200px;
}

.user-index-wrapper {
  padding-top: 70px;
  background-color: #fff;
}

.users-edit-wrapper {
  
  .container {
    padding-top: 200px;
    
    .form-group {
      margin-bottom: 20px;
    }
  }
}

.category-index-wrapper {
  padding-top: 70px;
  background-color: #fff;
}

.category-new-wrapper {
  
  .category-new-container {
    padding-top: 200px;
    
    .form-group {
      margin-bottom: 20px;
    }
  }
}

.category-show-wrapper {
  padding-top: 70px;
  background-color: #fff;
}

.category-edit-wrapper {
  
  .category-edit-container {
    padding-top: 200px;
    
    .form-group {
      margin-bottom: 20px;
    }
  }
}
.admin-users-index-wrapper {
  
  .admin-users-index-container {
    padding-top: 70px;
    
    .form-group {
      margin-bottom: 20px;
    }
  }
}